body {
        font-family: "Arial";
        color:grey;
    }
h1 {
    border-bottom: 1px solid black;
    }
em {
    font-family: "Cascadia Mono";
}
p {
    font-size: 2rem;
}
body{
	background-color: #d0dfe6;
	color: rgba(39,177,182,0.8);
    color: #8076a3;
}
p,a {
    <text-decoration:none>
}