body {
        font-family: "Arial";
        color:grey;
    }
h1 {
    border-bottom: 1px solid black;
    }
em {
    font-family: "Cascadia Mono";
}
p {
    font-size: 2rem;
}
body{
	background-color: snow;
	color: rgb(65, 105, 225);
	color: #51c4d3;
	color: rgba(39,177,182,0.8);
	color: #57c3c2
;
}