.allcontent {
    width:                    1200px;
    /* padding-right:            15px;
    padding-left:             15px; */
    margin-right:             auto;
    margin-left:              auto;  
    /* display:                  flex;   */

}


div {
    display:                  block; 
    unicode-bidi:             isolate;
}


.biaoti h2 {
    display:                  block;
    font-family:              'Open Sans', sans-serif;
    font-weight:              300;
    margin:                   8px 0;
    line-height:              34px;
    color:                  #822433;
    
}

a:link {
    color:                  #333333;
    text-decoration:          none;
    border-bottom:            none;
}

.Fai :hover,.il :hover,.Cordoglio :hover,
.Avviso :hover,.Orientamento :hover,.Ingegneria :hover,
.Medicina :hover,.La :hover,.Il :hover,.Aperta :hover,
.Lettera :hover,.Sapienza :hover,.Maker :hover,.Evento :hover,
.Inaugurata :hover,.Gli :hover,.Pari :hover,.EtnoMusa :hover,
.Iscrizioni :hover,.Medicina :hover,.Codice :hover,.Sapienza :hover,
.Appello :hover,.aderisce :hover,.Solidarietà :hover,
.Costruire :hover,.Somiglianze :hover,.del :hover,.Un :hover {
    color:                  #333333;
    border-bottom:            thin solid #333333;
}

a:visited {
    color:                  #333333;
    text-decoration:          none;
    border-bottom:            none;
}

.biaoti,.bg-image-cover-center,.FRU,.renwu,.diaosu,.xuexiao,.shuangren,
.miggio,.duoren,.jinfa,.aoweiye,.dunpai,.call,.presentazione,
.zhuzi,.huiserenwu,.shizhong,.yuedui,.toupiao,.kaoshi,.fangkuai,.shuichi,
.Save,.siren,.wanzitou,.pintu,.yueqi,.shiguan,.bingdu {
    padding-right:            10px;  
    padding-left:             10px;   
}

.Fai,.il,.Cordoglio,.Avviso,.Orientamento,.Ingegneria,.Medicina,
.La,.Il,.Aperta,.Lettera,.Sapienza,.Maker,.Evento,.Inaugurata,.Gli,
.Pari,.EtnoMusa,.Iscrizioni,.Medicina,.Codice,.Sapienza,.Appello,.aderisce,
.Solidarietà,.Costruire,.Somiglianze,.del,.Un {
    font-family:              'Open Sans', sans-serif;
    font-weight:              300;
    line-height:              22px;
    font-weight:              300;
    padding:                  20px;
}



.img {
    width: 100%;
    object-fit: cover;
}

.bg-image-cover-center img {
    width: 570px;
    height: 482px;
}


/* .bg-image-cover-center {
    background: url("images/Dona\ il\ 5xmille\ alla\ Sapienza.jpg") no-repeat center;
    background-size: cover;
    background-color: #822433;
    width: 470px;
    height: 482px;
} */



/*.div1 {
    width:                    800px;
    height:                   350px;
    margin:                   20px auto; 
    overflow:                 hidden;                   
}

.div1 .maggio {
    float:                    left;
    width:                    200px;
    height:                   100%;
}

.div1 .maggio img {
    width:                    100%;
    height:                   100%;
}

.div1 .La {
    float:                    left;
    width:                    600px;
    height:                   100%;
}

.div1 .La div {
    float:                    left;
    width:                    190px;
    height:                   170px;
    margin-left:              10px;
    margin-bottom:            10px;
}

.div1 .La div img {
    width:                    100%;
    height:                   100%;
}

.div1 .La div:nth-child(3+n) {
    margin-bottom:            0px;
} /*



/* .aoweiye .Lettera {
    display:                  table-cell;
} */

