.container {
    /* width:                    970px; */
    padding-right:            15px;
    padding-left:             15px;
    margin-right:             auto;
    margin-left:              auto;
    /* display:                  flex;  */

}

div {
    display:                  block; 
    unicode-bidi:             isolate;
}


.biaoti h2 {
    display:                  block;
    font-family:              'Open Sans', sans-serif;
    font-weight:              300;
    margin:                   8px 0;
    line-height:              34px;
    color:                  #822433;
    
}

a:link {
    color:                  #333333;
    text-decoration:          none;
    border-bottom:            none;
}

.Fai :hover,.il :hover,.Cordoglio :hover,
.Avviso :hover,.Orientamento :hover,.Ingegneria :hover,
.Medicina :hover,.La :hover,.Il :hover,.Aperta :hover,
.Lettera :hover,.Sapienza :hover,.Maker :hover,.Evento :hover,
.Inaugurata :hover,.Gli :hover,.Pari :hover,.EtnoMusa :hover,.Iscrizioni :hover {
    color:                  #333333;
    border-bottom:            thin solid #333333;
}

a:visited {
    color:                  #333333;
    text-decoration:          none;
    border-bottom:            none;
}

.NOTIZE,.Dona,.FRU,.renwu,.diaosu,.xuexiao,.shuangren,.kaoshi,
.miggio,.duoren,.jinfa,.aoweiye,.dunpai,.call,.presentazione,
.zhuzi,.huiserenwu,.shizhong,.yuedui,.toupiao {
    padding-right:            10px;  
    padding-left:             10px;   
}

.Fai,.il,.Cordoglio,.Avviso,.Orientamento,.Ingegneria,.Medicina,
.La,.Il,.Aperta,.Lettera,.Sapienza,.Maker,.Evento,.Inaugurata,.Gli,.Pari,.EtnoMusa,.Iscrizioni {
    font-family:              'Open Sans', sans-serif;
    font-weight:              300;
    line-height:              22px;
    font-weight:              300;
    padding:                  20px;
}
/* .div1,.div2 {
    flex:                     1;        
} */

/* .aoweiye,.Lettera {
    display:                  table-cell;
} */

